.DS_Store
assignment1/.idea/
assignment1/ClientPart1/.idea/
assignment1/ClientPart2/.idea/
assignment1/Server/.idea/
assignment2/.idea/ 
assignment2/ClientPart2/.idea/ 
assignment2/Consumer/.idea/ 
assignment2/Server2/.idea/ 
.idea/

